@page "/calculator"

<PageTitle>Calculator</PageTitle>

<h3>Component</h3>

<div class="cpanel">

    //<input class="cinput" placeholder="Введите выражение" />

    <button class="plus" type="button">+</button>
    <button class="minus" type="button">-</button>
    <button class="multiplication" type="button">*</button>
    <button class="division" type="button">/</button>


</div>

@code {


}
