@page "/calculator"

<PageTitle>Calculator</PageTitle>

<h3>Component</h3>

<div class="cpanel">

    <button class="plus" type="button">+</button>
    <button class="minus" type="button">-</button>
    <button class="multiplication" type="button">*</button>
    <button class="division" type="button">/</button>

    <button class="one" type="button">1</button>
    <button class="two" type="button">2</button>
    <button class="three" type="button">3</button>
    <button class="four" type="button">4</button>
    <button class="five" type="button">5</button>
    <button class="six" type="button">6</button>
    <button class="seven" type="button">7</button>
    <button class="eight" type="button">8</button>
    <button class="nine" type="button">9</button>
    <button class="zero" type="button">0</button>

    <input class="coutput" placeholder="" />

</div>

@code {


}
